.blog-content.container
  .row.blog
    -# -if current_user
    = link_to "Edit", edit_posts_admin_path(@post), id: "edit", class: 'adminBtn btn'
  %h2.text-center= @post.title
  %h5.text-center= @post.created_at.strftime('%b %d, %Y')
  %div= raw @post.body
