// Styles for the end user facing posts views

.posts {
  .posts__header {}
  .jumbotron {
    background: #964893; /* Old browsers */
    background: -moz-linear-gradient(top,  #964893 0%, #6d3465 50%, #964893 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #964893 0%,#6d3465 50%,#964893 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #964893 0%,#6d3465 50%,#964893 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#964893', endColorstr='#964893',GradientType=0 ); /* IE6-9 */

    color: $light-text;
  }
  
  .posts__button-row { margin: 0 0 2em 0;}
  
  .posts__panel {
    border: 1px solid $color;
  }
  .posts__panel > .panel-heading {
    background-color: $color;
    h1{
      color: $light-text;
    }
  }
  
}

